<h1>Editing schedule</h1>

<%= render "form", schedule: @schedule %>

<br>

<div>
  <%= link_to "Mostrar esse agendamento", @schedule %> |
  <%= link_to "Voltar para agenda", schedules_path %>
</div>
